*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav
{
    background: #3f51b5;
    height: 100px;
    width: 100%;
}

nav label.name a
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-align: center
}

nav img
{
    width: 100px;
    height: 100px;
}

nav img.thc
{
    float: left;
}

nav img.dsc
{
    float: right;
}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav label
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav label a
{
    color: white;
    font-size: 20px;
}

body
{
    text-align: center;
}