body
{
    text-align: center;
}

table
{
    border-collapse: collapse;
    width: 30%;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

th
{
    text-align: left;
}
tr, td, th 
{
    font-family: sukhumvit;
    color: black;
}

td, th 
{
    font-family: sukhumvit;
    border: 1px solid black;
    padding: 8px;
    font-size: 15pt;
}

tr:nth-child(even)
{
    background-color: white;
}

tr:nth-child(odd)
{
    background-color: white;
}

th.year
{
    background: lightgray;
    text-align: center;
}

img.flag
{
    float: right;
    width: 5%;
    height: 5%;
}

table tr th a 
{
    color: black;
}

table tr th a:link 
{
    color: black;
}

table tr th a:visited
{
    color: black;
}

table tr th a:hover
{
    color: yellow;
}

table tr th a:active
{
    color: yellow;
}